.App-body {
  /*background-color: #282c34;*/
  min-height: 100vh;
  /*width: 100vw;
  height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  color: white;

  /*margin: 10px;*/
}

.App-body-content {
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.mybox {
  padding: 10px;
  font-size: 1.2em;
}

.Nav {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(170, 170, 170);
}

.Nav a {
  color: white;
}

.Nav a, a:visited {
  display: block;
  background-color: #0C7B93 !important;
  text-align: center;
}

.Nav a:hover {
  background-color: #27496D !important;
  color: white;
  text-align: center;
}

.Nav .site-title {
  display: block;
  background-color: #27496D !important;
  text-align: center;
}

.ListViewManager .date-range-select {
  background-color: #0C7B93 !important;
  color: white;
  text-align: center;
}

.ListViewManager .date-range-select:hover {
  background-color: #27496D !important;
  color: white;
}

.ListViewManager .date-range-select-static {
  background-color: #27496D !important;
  text-align: center;
}

.img-background {
  background-image: url("vendor/hatching_adjusted.png");
  border-radius: 20px;
}

.Event-img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 120px;
  border-radius: 20px;
}

.background{
  background-color: #282c34;
  }

.VenuesList {
  /*background-color: DarkSlateBlue;*/
}

.venue {
  /*background-color: black;*/
  /*color: white;*/
  /*outline: 1px solid darkred;*/
  /*margin: 2px !important;*/
  /*padding: 10px;*/
  /*height: 150px;*/
  outline: 1px solid white;
  /*border-radius*/: 20px;
  padding: 15px;
  /*margin: 2px !important;*/
}

.venue-name {
  font-weight: bold;
}

.venue-link {
}

.venue-view-events {
}

.venue-description {
  font-style: italic;
}

.venue-region-title {
  background-color: darkgrey !important;
  display: block;
  font-size: 1.5em;
  margin-bottom: 15px;
  padding: 10px;
}

.venue-website a, .venue-website a:visited {
  color: lightgreen;
  display: block;
}

.venue-website a:hover {
  background-color: darkred;
}

.venue-name, .venue-website, .venue-view-events {
  border: 1px solid pink;
  /*border-radius: 20px;*/
  text-align: center;
}



.Day-group {
  /*margin-right: 20px;*/
  /*outline: 1px solid black;*/
  padding: 15px;
}

.daygroup-title {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.Event-box {
  outline: 2px solid rgb(170,170,170);
  /*border-radius*/: 20px;
  padding: 5px;
  margin: 2px !important;
  /*display: inline-block;*/
}

.event-venue {
  display: inline-block;
}

.event-title {
  display: inline-block;
  font-weight: bold;
  font-size: 1.3em;
}

.box.selected {
  background-color: lightblue;
}

a .box {
  transition:  background-color 0.25s ease-in-out;
}

a .box:hover {
  background-color:  lightblue;
}
