.App-body {
  /*background-color: #282c34;*/
  min-height: 100vh;
  /*width: 100vw;
  height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  color: white;

  /*margin: 10px;*/
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.App-body-content {
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.mybox {
  padding: 10px;
  font-size: 1.2em;
}

.Nav {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(170, 170, 170);
}

.Nav a {
  color: white;
}

.Nav .column {
  padding: 0.2rem;
}

.Nav a, a:visited {
  display: block;
  background-color: #0C7B93 !important;
  text-align: center;
}

.Nav a:hover {
  background-color: #27496D !important;
  color: white;
  text-align: center;
}

.Nav .site-title {
  display: block;
  background-color: #27496D !important;
  text-align: center;
}

.date-range-selects .column {
  padding: 0.2rem;
}

.ListViewManager .date-range-select {
  background-color: #0C7B93 !important;
  color: white;
  text-align: center;
}

.ListViewManager .date-range-select:hover {
  background-color: #27496D !important;
  color: white;
}

.ListViewManager .date-range-select-static {
  background-color: #27496D !important;
  text-align: center;
}

.img-background {
  background-image: url("vendor/hatching_adjusted.png");
  border-radius: 20px;
}

.Event-img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 120px;
  border-radius: 20px;
}

.background{
  background-color: #282c34;
  }

.VenuesList {
  /*background-color: DarkSlateBlue;*/
}

.eventDates{
  display: flex;
  justify-content: center;
}

.venue {
  /*background-color: black;*/
  /*color: white;*/
  /*outline: 1px solid darkred;*/
  /*margin: 2px !important;*/
  /*padding: 10px;*/
  /*height: 150px;*/
  outline: 2px solid rgb(170,170,170);
  /*border-radius*/: 20px;
  padding: 15px;
  /*min-height: 250px;*/
  /*margin: 2px !important;*/
}

.venue-name {
  min-width: 200px;
  float: left;
  font-weight: bold;
  font-size: 1.1em;
  display: inline-block;
}

.venue-link {
  float: right;
  padding: 0 10px;
  margin-right: 10px;
  background-color: #0C7B93 !important;
  color: white;
  outline: 1px solid rgb(170, 170, 170);
  /*border: 1px solid black;*/
}

.venue-link:hover {
  background-color: #27496D !important;
  color: white;
}

.venue-view-events {
  margin-right: 10px;
  padding: 0 10px;
  float: right;
  /*border: 1px solid black;*/
  display: inline-block;
  background-color: #0C7B93 !important;
  color: white;
  outline: 1px solid rgb(170, 170, 170);
}

.venue-view-events:hover {
  background-color: #27496D !important;
  color: white;
}

.venue-description {
  display: inline-block;
  margin-top: 10px;
  font-style: italic;
  /*min-height: 150px;*/
}

.venue-region-title {
  background-color: #27496D !important;
  display: block;
  font-size: 1.5em;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
}

.Day-group {
  /*margin-right: 20px;*/
  /*outline: 1px solid black;*/
  padding: 15px;
}

.daygroup-title {
  margin-bottom: 15px;
  font-size: 2em;
  text-align: center;
}

.Event-box {
  display: flex;
  outline: 2px solid rgb(170,170,170);
  border-radius: 10px;
  padding: 5px;
  margin: 2px !important;
  /*display: inline-block;*/
  /*transition: outline 0.3s ease-in;*/
}

.Event-box:hover {
  outline: 2px solid black;
}

.event-link {
  color: white !important;
}

.event-venue {
  display: inline-block;
}

.event-title {
  display: inline-block;
  font-weight: bold;
  font-size: 1.3em;
}

.box.selected {
  background-color: lightblue;
}

a .box {
  transition:  background-color 0.25s ease-in-out;
}

a .box:hover {
  background-color:  lightblue;
}

.textViewEntry {
  outline: 1px solid black;
  margin-bottom: 1px;
  overflow: hidden;
}

.textViewEntry .textViewVenue {
  font-weight: bold;
  /*float: right;*/
  font-size: 1.2em;
  padding: 4px;
  background-color: grey;
}

.textViewEntry .textViewTitle {
  /*float: left;*/
  margin-left: 10px;
  /*outline: 1px solid red;*/
}

.textViewEntry .textViewLink, .textViewEntry .textViewLink:visited {
  color: darkblue;
  font-size: 1.2em;
  font-family: Impact;
  letter-spacing: 1px;
}

